body {
    background: url("../images/back10.png");
    background-size: 100% 100%;
    font-family: 'Doppio One', sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    margin-left: 3em;
    margin-right: 8em;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.aux {
    margin: 0;
}

.botao {
    opacity: 1;
    background-color: transparent; /* ou remova esta linha se deseja a cor padrão do botão */
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    text-align: center;
    border: none;
    cursor: pointer;
}

.botao:hover {
    text-decoration: underline;
}

.botao {
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

.logo {
    background-color: transparent; /* ou remova esta linha se deseja a cor padrão do botão */
}

.nav-item {
    flex: 1;
}

#aspectRatio {
    background-color: #0bf;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 3 / 5;
}

img {
    width: 32.3%;
    height: auto; 
}
