.form-outline{
    text-align: left;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    background: url("../images/background.png") fixed;
    background-size: cover;
    font-family: 'Doppio One', sans-serif;
    width: 100%;
}

#whole{
    width: 100%;
    height: 100%;
}

.aux{
    background-color: #ffffff;
    border: 0.1em solid #b1b1b1;
}

.buttonReg{
    color: white;
    border-radius: 0.8em;
    margin-top: 1em;
    background-color: #7d9bff;
    padding: 0.5em 1em;
}

.buttonReg:hover{
    background-color: #003cff;
    transition: 1s;
}

.buttonLog{
    size: 0.1em;
    color: white;
    border-radius: 0.8em;
    background-color: #7d9bff;
    margin-top: 1em;
    padding: 0.5em 1em;
}

.buttonLog:hover{
    background-color: #003cff;
    transition: 1s;
}
.card-body {
    font-size: 2.5em; /* Adjust font size as needed */
    color: black;
}

.textWelcome{
    color:black;
}

.textCena{
    color:black;
}