
.form-outline{
    text-align: left;
}

.hyperlink{
    text-align: left;
    padding: 5% 0%;
}

body{
    background: url("../images/background.png") fixed;
    background-size: cover;
    font-family: 'Doppio One', sans-serif;
    width: 100%;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

#login {
    width: 100%;
    height: 100%;
}

.aux{
    height: 100%;
    background-color: #ffffff;
    outline: 200px black;
}

.card-body {
    font-size: 2.5vh; /* Adjust font size as needed */
    color: black;
}

.text{
    font-size: 2.5vh;
    color: black;
}


.row{
    display: flex;
    align-items: center;
}

.field1{
    width: 47%;
    float: left;
}

.field2{
    width: 47%;
    float: right;
}

.btn1{
    text-align: right;
}

.input{
    width: 100%;
}