

.form-outline{
    text-align: left;
}

.hyperlink{
    text-align: left;
    padding: 5% 0%;
}

body{
    background: url("../images/background.png") fixed;
    background-size: cover;
    font-family: 'Doppio One', sans-serif;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust the width as needed */
}

.aux{
    background-color: #ffffff;
    outline: 200px black;
}

.card-body {
    font-size: 2.5vh; /* Adjust font size as needed */
    color: black;
}




.row{
    display: flex;
    align-items: center;
}

.field1{
    width: 47%;
    float: left;
}

.field2{
    width: 47%;
    float: right;
}

.btn1{
    text-align: right;
}

.input{
    width: 100%;
}