.form-outline{
    text-align: left;
}

.hyperlink{
    text-align: left;
}

body{
    background: url("../images/background.png") fixed;
    background-size: cover;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#login {
    height: 100%;
}

.row{
    display: flex;
    align-items: center;
}


.field1{
    width: 47%;
    float: left;
}

.field2{
    width: 47%;
    float: right;
}

.btn1{
    text-align: right;
}
