body {
    background-size: cover;
    font-family: 'Doppio One', sans-serif;
    background: url("../images/background.png") fixed;
    background-size: cover;
}

.header-iframe {
    height: 10vh; /* 20% da altura da tela */
    width: 100%;
    display: block;
}

.corPreco {
    color: green;
}

.pagination {
    margin-top: 20px;
}

.grid-info2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2%;
    padding-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

.cont{
    margin-top: 0.75%;
}


.itemInfos{
    padding: 0; 
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.itemButton{
    background-color: rgb(136, 136, 136);
}



