body {
    background: url("../images/back10.png");
    background-size: 100% 100%; /* Cobrir toda a largura e altura do body */
    font-family: 'Doppio One', sans-serif;
    margin: 0;
    padding: 0;
}

.aux {
    margin: 0;
}

.botao {
    opacity: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5vw;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao:hover {
    text-decoration: underline; /* Nova cor de fundo ao passar o mouse */
}

.logo {
    background-color: none;
}

.nav-item {
    flex: 1;
}

img {
    width: 30%;
    height: auto; 
}
