@page "/auctionsWon"
@rendermode InteractiveServer

<PageTitle>Auctions Won</PageTitle>
    
    <Header />


<div class="cont">
        <div class="text-group-2 grid-info2">

            <button class="itemButton">
                <div class="item row g-0 ">
                        
                    <div class="imagem col-md-4">
                        <img src="./images/pogba.jpg" class="img-fluid ">
                    </div>

                    <div class="itemInfos col-md-8">
                            <p class="itemInfo">Athlete: Paul Pogba</p>
                            <p class="itemInfo">Sold at: <span class = "corPreco">99.50€</span></p>
                            <p class="itemInfo">Date: 11/10/2023</p>
                    </div>
                        
                </div>
            </button>

            <button class="itemButton">
                <div class="item row g-0 ">
                        
                    <div class="imagem col-md-4 ">
                        <img src="./images/icardi.jpg" class="img-fluid ">
                    </div>

                    <div class="itemInfos col-md-8">
                        <p class="itemInfo">Athlete: Mauro Icardi</p>
                        <p class="itemInfo">Sold at: <span class = "corPreco">123.40€</span></p>
                        <p class="itemInfo">Date: 04/10/2023</p>
                    </div>
                        
                </div>
            </button>

            <button class="itemButton">
                <div class="item row g-0 ">
                        
                    <div class="imagem col-md-4 ">
                        <img src="./images/" class="img-fluid ">
                    </div>

                    <div class="itemInfos col-md-8">
                        <p class="itemInfo">Competition: Stanley Cup</p>
                        <p class="itemInfo">Sold at: <span class = "corPreco">22.40€</span></p>
                        <p class="itemInfo">Date: 30/07/2023</p>
                    </div>
                        
                </div>
            </button>

            <button class="itemButton">
                <div class="item row g-0 ">
                        
                    <div class="imagem col-md-4 ">
                        <img src="./images/fernandes.webp" class="img-fluid ">
                    </div>

                    <div class="itemInfos col-md-8">
                        <p class="itemInfo">Athlete: B.Fernades</p>
                        <p class="itemInfo">Sold at: <span class = "corPreco">350.00€</span></p>
                        <p class="itemInfo">Date: 14/02/2023</p>
                    </div>
                        
                </div>
            </button>
        </div> 

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-4">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
            </ul>
        </nav>
    </div>











<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/auctionsWon.css">


