@page "/myAuctions"
@rendermode InteractiveServer

<PageTitle>My Auctions</PageTitle>
    
    <Header />


<div class="cont">
        <div class="text-group-2 grid-info2">

            <button class="itemButton1">
                <div class="item row g-0 ">
                        
                    <div class="imagem col-md-4">
                        <img src="./images/james.jpg" class="img-fluid ">
                    </div>

                    <div class="itemInfo col-md-8">
                            <p class="itemInfo">Athlete: Lebron James</p>
                            <p class="itemInfo">Current Bid: <span class = "corPreco">1240.50€</span></p>
                            <p class="itemInfo">Buy Now: <span class = "corPreco">5000.00€</span></p>
                            <p class="itemInfo">Time Left: 2 days 1h</p>
                    </div>
                        
                </div>
            </button>

            <button class="itemButton2">
                <div class="item row g-0 ">
                        
                    <div class="imagem col-md-4 ">
                        <img src="./images/balotelli.jpg" class="img-fluid ">
                    </div>

                    <div class="itemInfo col-md-8">
                        <p class="itemInfo">Athlete: M.Balotelli</p>
                        <p class="itemInfo">Current Bid: <span class = "corPreco">340.65€</span></p>
                        <p class="itemInfo">Buy Now: <span class = "corPreco">450.00€</span></p>
                        <p class="itemInfo">Time Left: 6 hours 36 m</p>
                    </div>
                        
                </div>
            </button>

            <button class="itemButton3">
                <div class="item row g-0 ">
                        
                    <div class="imagem col-md-4 ">
                        <img src="./images/brady.webp" class="img-fluid ">
                    </div>

                    <div class="itemInfos col-md-8">
                        <p class="itemInfo">Athlete: Tom Brady </p>
                        <p class="itemInfo">Status: NO BUYER</p>
                    </div>
                        
                </div>
            </button>

                        <button class="itemButton3">
                <div class="item row g-0 ">
                        
                    <div class="imagem col-md-4 ">
                        <img src="./images/brady.webp" class="img-fluid ">
                    </div>

                    <div class="itemInfos col-md-8">
                        <p class="itemInfo">Athlete: Tom Brady </p>
                        <p class="itemInfo">Status: NO BUYER</p>
                    </div>
                        
                </div>
            </button>
            
        </div> 

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-4">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
            </ul>
        </nav>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/myAuctions.css">